/* ==================== root ==================== */
:root {
  --main-color: #007bff;
  --main-gl-color: rgba(0, 119, 255, 0.4);
  --potin-color: #ff8a00;
  --primary-font-color: #1a1a1a;
  --secondary-font-color: #6c757d;
  --light-font-color: #c4c4c4;
  --white: #fff;

  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
}
/* ==================== swiper ==================== */
/* //.swiper-container 설정  */
.swiper-container {
  width: 80%;
  /* height: 100vh; */
}
/* //.swiper-slide 설정  */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* //swiper.css에서 수정을 해야 되지만 cdn으로 불러와서 여기서 중복 설정 + !important로 제어 하였음 */
.swiper-container-vertical > .swiper-pagination-bullets {
  top: unset !important;
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* //swiper.css에서 수정을 해야 되지만 cdn으로 불러와서 여기서 중복 설정 + !important로 제어 하였음 */
.swiper-container-vertical
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  display: inline-block !important;
  margin: 6px 2px !important;
}
/* ==================== * ==================== */

/* ==================== wrap ==================== */
/* ==================== container ==================== */
/* ==================== section ==================== */
.section {
  /* padding: 0 150px; */
  /* text-align: center; */
  width: 1200px;
  margin: 0 auto;
  overflow-y: auto;
}
/* ==================== intro ==================== */
.intro {
  color: #fff;
  height: 100vh;
}
.introSub {
  padding-top: 400px;
}
.intro .subtitle {
  text-align: left;
  font-size: 2.5rem;
  /* margin-top: 400px; */
}

.intro .subtitle span {
  font-weight: 600;
}

.intro .introTitle {
  text-align: left;
  margin: -50px 0 0 0;
  font-weight: 700;
  font-size: 10rem;
  /* text-transform: uppercase; */
  /* font-family: "Lora", serif; */
}

.introSub .scroll {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.introSub .scroll p {
  color: #fff;
  margin-top: 6px;
}
.introSub .mouse {
  content: "";
  display: block;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}
.introSub .scroll .wheel {
  content: "";
  display: block;
  width: 4px;
  height: 12px;
  border-radius: 50px;
  background: #fff;
  margin-top: 7px;
  animation: wheel 0.8s alternate infinite;
}
/* 마우스휠 애니메이션 */
@keyframes wheel {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(3px);
  }
}
/* ==================== profile ==================== */
.profile .container {
  /* height: 250px; */
  margin-bottom: 20px;
}

.profile .container:last-child {
  height: 100px;
}
.profileCont {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.contRight {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.imgDiv {
  background: var(--main-color);
  /* background-color: rgba(0, 26, 255, 0.5);  */
  /* 흰색 배경에 50% 투명도 적용 */
  border-radius: 300px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  animation: app 0.8s ease-in-out infinite alternate;
}

@keyframes app {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.imgDiv img {
  width: 50%;
}

.contLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileCont .contRight .subtitle {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.profileCont .contLeft .subtitle {
  text-align: center;
  font-size: 1.5rem;
}
.profileCont .subtitle span {
  background-color: var(--main-color);
  color: var(--white);
}

.profileCont .day {
  color: var(--secondary-font-color);
  font-size: 0.8rem;
}

.contRight .sbdiv {
  margin-bottom: 6px;
}

.toolsImg img {
  margin-right: 5px;
  size: 5%;
}

.sbdiv span {
  color: var(--light-font-color);
}

.github img {
  width: 15px;
}

.contRightLeft,
.contRightRight,
.contLeft {
  margin: 0 10px;
}

.PFbtn {
  animation: app 0.8s ease-in-out infinite alternate;
  margin-top: 80px;
}
.PFbtn a {
  padding: 10px 15px;
  border: 2px solid var(--main-color);
  border-radius: 50px;
  color: var(--main-color);
}

.PFbtn a:hover {
  background-color: var(--main-color);
  color: var(--white);
}

/* ==================== devWork ==================== */
.DWslide {
  width: 100%;
  /* margin-right: 200px; */
  background: transparent;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.DWslide img {
  border: 1px solid var(--light-font-color);
  width: 100%; /* 부모 요소의 너비에 맞추어 이미지 크기 조절 */
  height: auto; /* 세로 비율 유지 */
  border-radius: 10px;
}
.DWslide .right {
  /* height: 360px; */
  text-align: left;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.DWslide .right .txt {
  width: 100%;
}

.DWslide > .right > .txt > .subtitle {
  font-size: 1.2rem;
  color: var(--primary-font-color);
  margin: 10px 0 0 5px;
}

.DWslide .right .txt h3 {
  font-size: 3rem;
}

.DWbtndiv a {
  display: flex;
}

.DWbtndiv a svg {
  width: 15px;
}

.DWbtndiv a svg {
  margin-right: 10px;
}

.DWbtndiv {
  padding-bottom: 5px;
  position: relative;
  border-bottom: 1px solid transparent;
}

/* 애니메이션 효과 */
.DWbtndiv::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--main-color);
  /* 선의 색상 */
  transition: width 0.3s ease-in-out; /* 애니메이션 지속 시간 및 이징 함수 */
}

/* hover 시 애니메이션 활성화 */
.DWbtndiv:hover::after {
  width: 100%;
  color: var(--main-color);
}

.desc {
  width: 80%;
}

.workListItem {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.4rem;
  /* gap: 0.8rem; */
}

.workListTag {
  padding: 6px 10px;
  color: var(--main-color);
  /* font-size: 1.4rem; */
  border: 1.5px solid var(--main-gl-color);
  border-radius: 10rem;
  background: transparent;
}
/* ------ 스와이퍼 버튼 변경 ------ */
.swiper-button-prev,
.swiper-button-next {
  /* background-color: #fff; */
  opacity: 0.5;
  padding: 15px 5px;
  border-radius: 20px;
  color: black !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
  color: var(--main-color) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}
/* 애니메이션 키 프레임 정의 */
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px); /* 왼쪽으로 이동할 거리를 조절 */
  }
  100% {
    transform: translateX(10px); /* 오른쪽으로 이동할 거리를 조절 */
  }
}

/* swiper-button-prev 버튼에 애니메이션 적용 */
.swiper-button-prev {
  animation: moveLeftRight 2s ease-in-out 0s infinite alternate;
}

/* swiper-button-next 버튼에 애니메이션 적용 */
.swiper-button-next {
  animation: moveLeftRight 2s ease-in-out 0s infinite alternate;
}

.DWslide > .right > .btn {
  display: flex;
}

.DWbtndiv:first-child {
  margin-right: 30px;
}

/* ==================== devPrac ==================== */
.DPtitle {
  margin-bottom: 10px;
}

.DPtitle h2 {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 700;
}
.DPcontainer {
  display: flex;
}
.DPCard {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid var(--light-font-color);
  border-radius: 20px;
  filter: grayscale(100%);
  transition: all 0.5s linear;
  /* image-rendering: ; */
  overflow: hidden;
}

.DPCard a {
  display: block;
  color: var(--white);
}

.DPCard:hover {
  filter: none;
  /* background-color: rgba(185, 239, 255, 0.5); */
  background-color: var(--main-color);
}

.DPCard .hidden_text {
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  line-height: 300px;
}

.DPCard:hover .hidden_text {
  opacity: 1;
  color: var(--white);
}

/* ==================== designWork ==================== */

.contents .image {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  padding: 30px 0;
}
.contents .image a {
  filter: grayscale(100%);
  width: calc(25% - 120px / 4);
  display: block;
}

.contents .image a:hover {
  filter: none;
  transition: all 0.5s linear;
}

.contents .image a img {
  width: 100%;
  border-radius: 10px;
}

/* 모달창 */

.modal {
  display: none;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  margin: 5% auto;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 40%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.close:hover {
  transform: rotate(180deg);
}
/* ==================== contact ==================== */

/* ==================== 미디어쿼리 ==================== */
/* 데스크탑 */
@media only screen and (min-width: 1500px) {
  #web_wrap {
    width: 1500px;
  }
}
@media only screen and (min-width: 1200px) {
  .introSub,
  .DPwrap,
  .DWwrap,
  .CTwrap {
    width: 1200px;
    margin: 0 auto;
  }

  /* 인트로 */
  .intro .introTitle {
    font-weight: 700;
    font-size: 10rem;
  }

  .container {
    height: 250px;
  }

  /* 프로필 */
  .profileSub {
    width: 1200px;
    margin: 0 auto;
  }

  .PFbtn {
    display: none;
  }

  /* devwork */
  .DWslide .left {
    width: 50%;
    margin-right: 50px;
  }

  .DWslide .right {
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .workListItem {
    gap: 0.8rem;
  }
}

/* 태블릿 */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .introSub,
  .DPwrap,
  .DWwrap,
  .CTwrap {
    width: 768px;
    margin: 0 auto;
  }

  /* 인트로 */
  .intro .introTitle {
    font-size: 9rem;
  }

  /* 프로필 */
  .profileSub {
    margin: 0 50px;
  }
  .imgDiv {
    background: var(--main-color);
    /* background-color: rgba(0, 26, 255, 0.5);  */
    /* 흰색 배경에 50% 투명도 적용 */
    width: 300px;
    height: 300px;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    animation: app 0.8s ease-in-out infinite alternate;
  }
  .profile .container {
    height: 250px;
  }
  .PFbtn {
    display: none;
  }

  /* devwork */
  .DWslide .left {
    width: 60%;
    margin-right: 3%;
  }
  .DWslide .right {
    width: 30%;
    height: 350px;
  }
  .workListItem {
    gap: 0.4rem;
  }

  /* designwork */
  .contents .image a {
    width: calc(35% - 120px / 4);
  }
}

/* 모바일 */
@media only screen and (max-width: 767px) {
  #web_wrap,
  .DPwrap,
  .DWwrap,
  .CTwrap {
    /* min-width: 1200px; */
    padding: 0 20px;
    margin: 0 auto;
  }

  .introSub {
    padding-left: 20px;
  }

  /* 인트로 */
  .intro .introTitle {
    font-size: 5rem;
    margin: -25px 0 0 0;
  }
  .intro .subtitle {
    font-size: 1.5rem;
  }

  /* 프로필 */
  .imgDiv {
    width: 200px;
    height: 200px;
  }
  .profileCont {
    flex-direction: column;
    align-items: center;
  }

  .contRight {
    display: none;
  }

  /* devwork */
  .DWslide {
    height: 100vh;
    flex-direction: column;
  }

  .DWslide .left {
    padding: 0 30px;
  }
  .DWslide .right {
    width: 90%;
  }

  .DWbtndiv {
    margin-top: 30px;
  }
  .workListItem {
    gap: 0.3rem;
  }

  /* designwork */
  .contents .image a {
    width: calc(50% - 120px / 4);
  }
}
